// nơi đặt biến của css
$backgroundColor: #f3f0f0;
$fontSizeHeader: 25px;
$fontFamily: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fontFamily_Body: 'Helvetica Neue', Helvetica, Arial;

$fontSize_body: 20px;
