html {
   font-size: 100%;
}

* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #fff;
}
.menu-bar {
   display: none;
}
main {
   width: 100%;
   height: auto;
   position: absolute;
   margin-top: 57px;
   background-color: #fff;
}
.ytb-watch {
   display: flex;
   justify-content: center;
}
.ytb-watch-video {
   width: 61%;
   height: 60%;
   flex-direction: column;
}
.ytb-watch-video-child {
   padding: 20px;
}
.ytb-video-play {
   grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.ytb-video iframe {
   border: none;
}
.ytb-watch-contents {
   width: 400px;
   height: 400px;
   margin: 20px 20px 0 0;
}

.ytb-contents-container {
   padding-bottom: 5px;
}
.ytb-contents-container a {
   text-decoration: none;
   color: black;
}
.ytb-contents {
   display: flex;
}
.ytb-content-image {
   flex-direction: row;
   padding-right: 5px;
}
.ytb-content-image img {
   height: 100px;
   width: 175px;
}
.ytb-content-title {
   flex: 1;
}
.ytb-content-title .title {
   display: inline-block;
}
.ytb-content-source {
   display: flex;
   flex-direction: column;
}
.ytb-content-source .channel {
   color: rgb(128, 128, 128);
}
.ytb-content-source .view {
   color: rgb(128, 128, 128);
}
@media screen and (max-width: 650px) {
   .ytb-watch {
      display: block;
   }
}
